{% assign location = page.url | downcase | remove_first:'/' | split: '/' | first %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ "/" | absolute_url }}">
      <img src="{{ "/public/images/logo.png" | absolute_url }}" width="30" height="30" class="d-inline-block align-top mr-1" alt="logo">
      {{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link{% if location == 'articles' %} active{% endif %}" href="{{ "/articles" | absolute_url }}">Articles</a>
        <a class="nav-item nav-link{% if location == 'about' %} active{% endif %}" href="{{ "/about" | absolute_url }}">About</a>
        <a class="nav-item nav-link{% if location == 'contact' %} active{% endif %}" href="{{ "/contact" | absolute_url }}">Contact</a>
      </div>
    </div>
  </div>
</nav>
