{% assign location = page.url | downcase | remove_first:'/' | split: '/' | first %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light d-print-none">

  <span class="navbar-brand mb-0 font-weight-bold">
    <a class="d-inline-block mr-1" href="{{ "/" | relative_url }}">
      <img src="{{ "/images/logo.svg" | relative_url }}" width="30" height="30" class="d-inline-block align-top" alt="logo">
    </a>
    Martin Groeneveld
  </span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav ml-auto small font-weight-bold">
      <a class="nav-item nav-link{% if location == 'terms' %} active{% endif %}" href="{{ "/terms" | relative_url }}">Terms</a>
      <a class="nav-item nav-link{% if location == 'privacy' %} active{% endif %}" href="{{ "/privacy" | relative_url }}">Privacy</a>
      <a class="nav-item nav-link{% if location == 'privacy' %} active{% endif %}" href="{{ "/tools" | relative_url }}">Tools</a>
      <a class="nav-item nav-link{% if location == 'privacy' %} active{% endif %}" href="{{ "/aikido" | relative_url }}">Aikido</a>
      <a class="nav-item nav-link{% if location == nil or location == 'articles' %} active{% endif %}" href="{{ "/" | relative_url }}">Articles</a>
      <a class="nav-item nav-link{% if location == 'about' %} active{% endif %}" href="{{ "/about" | relative_url }}">About</a>
    </div>
  </div>

  <progress id="reading-progress" class="progress" value="0" max="100">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
  </progress>

</nav>
