---
layout: default
---

<section class="content">
  <div class="container">
    <article>
      {{ content }}
    </article>
  </div>
</section>

{% if site.disqus_shortname %}
<section class="comments">
  <div class="container">
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
  </div>
</section>

<script type="text/javascript">
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + '{{ site.disqus_shortname }}' + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endif %}
