<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="format-detection" content="telephone=no">
    <!-- favicon and webapp behaviour -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#343a40">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Groveld">
    <link rel="apple-touch-icon" sizes="180x180" href="{% asset icons/apple-touch-icon.png @path %}">
    <link rel="mask-icon" href="{% asset icons/safari-pinned-tab.svg @path %}" color="#343a40">
    <!-- site info -->
    <meta name="description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title | xml_escape }}" href="/atom.xml">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <title>{% if page.title %}{{ page.title | xml_escape }} - {{ site.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}</title>
    <!-- Bootstrap CSS and Custom CSS -->
    {% asset style.css %}
  </head>
  <body>
    {% include navigation.html %}

    {{ content }}

    <button type="button" class="btn btn-primary" id="scrollUp">Scroll to top</button>

    <footer class="container-fluid my-3">
      <div class="row">
        <div class="col">
          <div class="small text-center">
            &copy; {{ site.time | date: '%Y' }} {{ site.title }}{% if site.legal %} &bull; {{ site.legal }}{% endif %}
          </div>
        </div>
      </div>
    </footer>

    {% include analytics.html %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS, then custom scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
    {% asset main.js %}
  </body>
</html>
