body {
  padding-top: 56px;
}

.container-fluid {
  max-width: 991.98px;
}

#scrollUp {
  z-index: 9999;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#comments {
  display: none;
}

@media (max-width: 991.98px) {
  body {
    background-color: #fff;
  }

  .nav-link {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .card-mobile {
    margin: 0 -15px;
    background-color: initial;
    border: none;
    border-radius: initial;
  }

  .card-mobile .card-body {
    padding-top: unset;
  }
}
