---
---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: subpixel-antialiased; */
  /* -moz-font-smoothing: subpixel-antialiased; */
  /* font-smoothing: subpixel-antialiased; */
}

ul {
  padding-left: 1.2em;
}
ol {
  counter-reset: item;
}
ol li {
  display: block
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}

/* h1, h2, h3, h4, h5, h6 { */
  /* font-family: 'Roboto Slab', serif; */
  /* letter-spacing: -.018em; */
  /* line-height: 38px; */
  /* border-bottom: 1px solid #f50057; */
  /* color: #000; */
  /* font-weight: 400; */
  /* padding-top: 0; */
  /* margin-top: 30px; */
  /* margin-bottom: 20px; */
/* } */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.25;
  /* color: #d7dae0; */
  /* text-rendering: optimizeLegibility; */
}

a {
  color: #006ADB;
}

main {
  padding-top: 0;
  padding-bottom: 40px;
}

header {
  padding-top: 50px;
  /* background: #1e88e5; */
  /* background-image: url({{ "/images/section-gradient-light.png" | relative_url }}); */
  /* background-repeat: repeat-x; */
  /* background-position: bottom; */
  /* background-size: 20px; */
  background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%);
  background: linear-gradient(135deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%);
}

header h1 {
  color: #ffffff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  box-shadow: 0 -1px 4px -1px rgba(0,0,0,0.25);
}

.container-fluid {
  max-width: 991.98px;
}

.navbar {
  padding: 5px 1rem;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:hover, .navbar-toggler:active {
  border: none;
  outline: none;
}

@media (max-width: 991.98px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .navbar {
    background-color: rgba(255,255,255,1);
  }
  .navbar-nav {
    margin-top: 5px!important;
  }
  .nav-item {
    text-align: center!important;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  .nav-item:active, .nav-item.active {
    background-color: #f50057;
  }
  .nav-item:hover {
    background-color: #f50057;
  }
}

.hero {
  /* padding-top: 50px; */
  /* padding-bottom: 40px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -100;
  background-image: url({{ "/images/hero00.jpg" | relative_url }});
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


section {
  padding: 40px 0;
}
.info {
  background: #263238;
  background-image: url({{ "/images/section-gradient-dark.png" | relative_url }});
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 20px;
}
.info h2 {
  color: #ffffff;
}
.info a, .info a:hover, .info a:active {
  color: #ffffff;
  text-decoration: none;
}
.info img {
  height: 60px;
}
.services span {
  color: #f50057;
}
.interested {
  background: #eceff1;
  background-image: url({{ "/images/section-gradient-light.png" | relative_url }});
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 20px;
}
.interested a, .interested a:hover, .interested a:active {
  color: #f50057;
}
.clients .thumbnail {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .2s ease-in-out;
}
.clients .thumbnail:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .2s ease-in-out;
}
.clients .thumbnail img {
  max-height: 75%;
  max-width: 75%;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
