@charset 'utf-8';

// Custom
$font-family-base: 'Poppins', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 300;
$line-height-base: 1.5;
$body-color: #333;
$body-bg: #fafafa;

// Fonts
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

// Boostrap Required
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/type';

// Boostrap Optional
// @import 'bootstrap/images';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
// @import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/transitions';
@import 'bootstrap/dropdown';
// @import 'bootstrap/button-group';
// @import 'bootstrap/input-group';
// @import 'bootstrap/custom-forms';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/card';
// @import 'bootstrap/breadcrumb';
// @import 'bootstrap/pagination';
// @import 'bootstrap/badge';
// @import 'bootstrap/jumbotron';
@import 'bootstrap/alert';
// @import 'bootstrap/progress';
// @import 'bootstrap/media';
// @import 'bootstrap/list-group';
@import 'bootstrap/close';
@import 'bootstrap/modal';
@import 'bootstrap/tooltip';
@import 'bootstrap/popover';
// @import 'bootstrap/carousel';
@import 'bootstrap/utilities';
// @import 'bootstrap/print';

body {
  padding-top: 56px;
}

.container-fluid {
  max-width: 991.98px;
}

#scrollUp {
  z-index: 9999;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#comments {
  display: none;
}

@media (max-width: 991.98px) {
  .nav-link {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .card {
    margin: -15px;
    border-radius: 0;
  }
}
