@charset 'utf-8';
@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  padding-top: 56px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #333;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

#scrollUp {
  z-index: 9999;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#comments {
  display: none;
}

.container-fluid {
  max-width: 991.98px;
}

@media (max-width: 991.98px) {
  .nav-link {
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
  }

  .card {
    margin: -15px;
    /* border: 0; */
    border-radius: 0;
  }
}
