---
# File: .github/workflows/super-linter.yml
# Docs: https://github.com/super-linter/super-linter

name: Lint Code Base

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: "linter"
  cancel-in-progress: false

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
